/*Core*/

/* ===== Scrollbar CSS ===== */
  /* Firefox */

/* Chrome, Edge, and Safari */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3) !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}
::-webkit-scrollbar
{
    width: 6px !important;
    height: 6px !important;
    background-color: transparent !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #333 !important;
}

@font-face {
  font-family: skyOS Font;
  src: url(../../fonts/lfl.ttf);
}
a, h1, h2, h3, p, div, strong, taskbarapp, span, watermark, button {
  font-family: skyOS Font;
}
hr {
  border-color: black;
}
desktop {
  background: url("../../img/bg.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: 0.2s;
}
window {
  background-color: rgba(173, 216, 230, 0.500);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(0, 0, 0, 0.200)
}
.wincontent {
  padding: 0px;
  overflow: hidden;
}
taskbar {
  background-color: rgba(255, 255, 255, 0.250);
  backdrop-filter: blur(5px);
  height: 36px;
}

taskbarapp {
  background-color: transparent;
  padding: 0px 5px 5px 5px;
  transition: 0.2s;
  right: 5px;
  position: relative;
  display: inline-block;
}
taskbarapp.active {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}
taskbarapp > img {
  top: 4px;
  position: relative;
  transition: 0.2s;
}
taskbarapp.active > img {
  top: 2px;
}
taskbarapp.active::before {
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  bottom: 3px;
  left: 0;
  margin: 0 12px;
  position: absolute;
  right: 0;
  background-color: white;
  transition: 0.2s;
}
taskbarapp:hover {
  background: rgba(0, 0, 0, 0.25) !important;
}
.winheader {
 border-bottom: 0px solid black;
 border-radius: 3px;
 background: transparent;
}
.winheader > strong {
  margin: 0 0 0 4px;
  top: -8px;
  margin-left: 3px;
  position: relative;
  color: #000;
}
.winheader > strong > img {
  height: 22px;
  width: 22px;
  top: 7px;
  position: relative;
}
.winheader.active-header {
  background-color: transparent;
}
#startuplogo {
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25%;
  position: absolute;
  height: 175px;
}
#startupload {
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 55%;
  position: absolute;
  height: 125px;
}

#startup {
  position: fixed;
  display: block; 
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 999999;
}

#skybutton {
  display: inline !important;
  transition: 0.2s;
  left: 0 !important;
  margin-top: 0px;
  padding: 12.8px 5px 5px 5px;
}
#skybutton.active {
  background: rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
#skybutton.active::before {
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  bottom: 1px;
  left: 0;
  margin: 0 9px;
  position: absolute;
  right: 0;
  background-color: white;
  transition: 0.2s;
}
#skybutton > img {
  transition: 0.2s;
  top: 4px;
}
#skybutton:hover {
  background: rgba(0, 0, 0, 0.25) !important;
}
#skybutton.active > img {
  transition: 0.2s;
  top: 2px;
}
#aibutton {
    padding: 12.8px 5px 5px 5px;
}
#aibutton.active::before {
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  bottom: 1px;
  left: 0;
  margin: 0 9px;
  position: absolute;
  right: 0;
  background-color: white;
  transition: 0.2s;
}
#aibutton.active > img {
  transition: 0.2s;
  top: 2px;
}

iframe {
  width: 100%;
  height: 100%;
}
.timendate {
  position: absolute;
  top: 11%;
  right: 0.3%;
  padding: 4px 4px 4px 4px;
  transition: 0.2s;
  cursor: default;
}
.timendate:hover {
 background: rgba(255, 255, 255, 0.25);
 border-radius: 8px;
}
.timendate.active {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}
watermark {
  color: #ffffff8a;
}
.fullSizeWindow > .wincontent {
  height: 97.5% !important;
  width: 100% !important;
}
window.fullSizeWindow {
  bottom: 36px !important;
}
.winclose {
  top: 2px;
}
.winmaximize {
  top: 6px;
}
.winminimize {
  top: -1px;
}
/*Apps menu*/
#appsmenu {
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
  width: 540px;
  height: 0;
  border-top-right-radius: 8px;
  border: 2px solid transparent;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.250);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  opacity: 0;
}
#appsmenu.opened {
  height: 320px;
  border: 2px solid rgba(0, 0, 0, 0.200);
  visibility: visible;
  opacity: 1;
}
#coralaiflyout {
  position: absolute;
  bottom: 36px;
  left: 35px;
  right: 0;
  width: 300px;
  height: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid transparent;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.250);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  opacity: 0;
}
#coralaiflyout.opened {
  height: 320px;
  border: 2px solid rgba(0, 0, 0, 0.200);
  visibility: visible;
  opacity: 1;
}
.applist {
  background: transparent;
  border: solid 1px transparent;
  margin: 7px 0px 7px 0px;
  height: 80%;
  width: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  display: block;
  padding: 0;
  list-style: none;
  transition: 0.2s;
}
.applist a {
  border: solid 1px transparent;
  display: block; 
  padding:3px; 
  margin:3px;
  text-decoration: none; 
  min-width:0px;
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
}
.applist a:hover {
  -moz-border-radius:3px; 
  -webkit-border-radius:3px;
  background: #0000007a;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.1s;
  color: white
}
.applist a img {
  border:0; 
  vertical-align:middle; 
  margin:0 5px 0 0;
}
.applist a br {
  display: none;
}
#userProfile {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 35.8%;
  height: 14%;
  border-top: 2px solid rgba(0, 0, 0, 0.350);
}

#userProfile div {
  font-family: Segoe UI;
  text-decoration: transparent;
  border: solid 1px transparent;
  display: inline-flex;
  padding: 3px 0 0 0;
  line-height: 10.5px;
  margin: 2px;
  text-decoration: none;
  min-width: 0px;
  text-align: left;
  transition: 0.2s;
}

#userProfile a {
  line-height: 32px;
}

#userProfile img {
  margin: 0px 3px;
  border-radius: 16px;
  background: #ffffff3b;
}
#userProfile hr {
  margin: 0 !important;
  background: black;
  border: 0px solid transparent;
}
#settingsUP > img {
  right: 0;
  top: 6px;
  position: absolute;
  background: transparent !important;
  cursor: pointer;
}
#quickweanews hr, #timedateflyout hr {
  margin: 6px 0px;
}
.quickweanews h1, .quickweanews h2, .quickweanews p, #quinews a, #timedateflyout h1, #timedateflyout h2, #timedateflyout h3  {
  padding: 0px 5px;
  font-size: 15px;
  display: block;
  width: 98%;
}
.quickweanews {
  visibility: visible;
  color: black;
  font-family: Segoe UI !important;
  height: 320px;
  border-left: 2px solid rgba(0, 0, 0, 0.350);
  position: absolute;
  width: 64%;
  right: 0;
}
.quickweanews hr {
      background: black;
      border: 0;
      height: 2px;
}

#quinews {
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#quinews div {
  display: none;
}
.feed-title, .feed-item-title {
  margin: 0 0 10px 0 !important;
}
.feed-title > a {
  font-size: 20px !important;
}
#quinews a {
    color: black
}
.qwncontainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 51.5vh;
}
                    
.newsSection, .weatherSection {
  width: 100%;
  height: 137px;
  border-top: 2px solid rgba(0, 0, 0, 0.350);
}
                    
                    
                      .qwnhr {
                        width: 100%;
                        height: 1px;
                        margin: 0;
                        border: none;
                        background-color: #000;
                      }

                      .weather {
                          top: 2px;
                          left: 2px;
                          white-space: nowrap;
                          position: relative;
                      }
                      .weathermain {
                          height: 28px;
                          font-size: 20px;
                      }
                      .owmlink {
                              bottom: 0px;
                              left: 3px;
                              position: absolute;
                      }
/*Right click menu*/
.context-menu {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.250);
  backdrop-filter: blur(5px);   
  border: 2px solid rgba(0, 0, 0, 0.200);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.2s;
}


.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

.context-menu ul li {
  border-radius: 7px;
  background: transparent;
  padding-bottom: 7px;
  padding-top: 7px;
  border: 2px solid transparent;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}


.context-menu ul li:hover {
  background: #00000024;
  border: 2px solid #00000020;
}
/*Search*/
#taskbarSearch {
      bottom: 5px;
      right: 5px;
      height: 80%;
      background-color: white;
      outline: transparent;
      border: 2px solid rgba(0, 0, 0, 0.200);
      border-radius: 8px;
      position: relative;
}
.tsksrcico {
  background: url(../../img/icons/search.png) no-repeat scroll 3% 49%;
  background-size: 20px;
  padding-left:30px;
}

/*Time and Date flyout*/
#timendateflyout {
  position: absolute;
  bottom: 36px;
  right: 0;
  width: 424px;
  height: 0px;
  border-top-left-radius: 8px;
  border: 2px solid transparent;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.250);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  opacity: 0;
}
#timendateflyout.opened {
  height: 465px;
  border: 2px solid rgba(0, 0, 0, 0.200);
  visibility: visible;
  opacity: 1;
}

/*Window settings*/
window {
  top: 32px;
  left: 32px;
}
.window1 .wincontent {
  height: 680px;
  width: 610px;
}
.window1 > .wincontent {
  min-height: 680px;
  min-width: 610px;
}
.window2 .wincontent {
  width: 455px;
  height: 360px;
}
.window2 > .wincontent {
  min-width: 455px;
  min-height: 360px;
}
.window3 .wincontent {
  width: 420px;
  height: 465px;
}
.window3 > .wincontent {
  min-width: 420px;
  min-height: 465px;
}
.window4 .wincontent {	
  width: 345px; 
  height: 630px;	
}

.window4 > .wincontent {
  min-width: 345px;
  min-height: 630px;
  max-width: 345px;
  max-height: 630px;
}
.window5 > .wincontent {
  width: 555px;
  height: 465px;
  min-width: 555px;
  min-height: 465px;
}
.window6 > .wincontent {
  width: 298px;
  height: 368px;
  min-width: 298px;
  min-height: 368px;
}
.window7 .wincontent {	
  width: 445px; 
  height: 230px;	
  min-width: 445px; 
  min-height: 230px;	
}
.window7 > .winheader > strong > img {
  top: 4px !important;
}
.window8 > .wincontent {
  width: 382px;
  height: 390px;
  min-width: 382px; 
  min-height: 390px;
}
.window9 > .wincontent {
  width: 300px;
  height: 300px;
  min-width: 300px; 
  min-height: 300px;
}


